body {
  background-color: #ffffff;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  height: 75px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

header .logo {
    width: 90px;
    height: auto;
    margin-right: 16px;
}

header h1 {
    font-size: 1.5rem;
    color: #000000;
    margin: 0;
}


h1, h2 {
  color: #0d0d0e;
}

.card {
  background-color: #5F5FAB;
  color: #000000;
  border: 1px solid #000000;
}

.card-title {
  color: #ffffff;
}

.btn-primary {  
  background-color: #7a7a7a;
  border-color: #707070;
}

.btn-primary:hover {
  background-color: #000000;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-warning {
  background-color: #f39c12;
  border-color: #f39c12;  
}

.btn-success:hover, .btn-warning:hover {
  opacity: 0.9;
}

select, input[type="text"], input[type="file"] {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid #ffffff;
}

select:focus, input[type="text"]:focus, input[type="file"]:focus {
  border-color: #66fcf1;
  box-shadow: 0 0 0 0.2rem rgba(102, 252, 241, 0.25);
}

/* Cores personalizadas para os nomes dos jogos */
.valorant {
  color: #ffffff;
  font-weight: bold;
}

.rainbow {
  color: #ffffff;
  font-weight: bold;
}

.warzone {
  color: #ffffff;
  font-weight: bold;
}

.lol {
  color: #ffffff;
  font-weight: bold;
}